.submenu {
    height: 45px;
    width: 100%;
    background-color: #23303E;
    display: flex;
    justify-content: space-between;
}

.submenu__content__left {
    margin-left: 15px;
    display: flex;
}

.container__location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location__icon {
    color: white;
}

.location__name p:nth-child(1) {
    color: grey;
    font-size: 0.8em;
}

.location__name p:nth-child(2) {
    font-weight: bold;
    color: white;
}

.submenu__list {
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
}

.submenu__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
}

.submenu__list li {
    text-align: center;
    padding: 5px 6px;
    border: solid 1px transparent;
    margin-right: 20px;
}


.submenu__list li:hover {
    border: solid 1px white;
}